
*{
    margin: 0;
    padding: 0;
    
}
body{
    font-family: 'nunitoregular', Arial, Helvetica, sans-serif;
font-size: 14px;
color: #555;
}

/* header and fotter starts here */

.container{
    padding-left: 30px;
    padding-right: 30px;
    
}

.topdesign{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0px 4px 20px rgba(189, 177, 205, 0.2);
    backdrop-filter: blur(20px);
    padding-top: 20px;
    padding-bottom: 20px;
    
}
.ham{
    display: none;
}
.fb{
    color: blue;
}

#color{
    background:#7eb244;
    border-radius: 12px;
    color:white ;
    width: 95px;
    height: 26px;
    text-align: center;
    padding-top: 8px;
    display: inline-block;
}

.leftlogo{
    color: #7eb244;
    grid-column: span 1 ;
}
a
{

    text-decoration: none;
    /* color: black;  */
}
.fhead a{
    color: white;
}
.pagelinks a {

    margin: 8px;
    font-family: 'nunitoregular', Arial, Helvetica, sans-serif;
font-size: 14px;
color: #555;
}
.pagelinks {
    grid-column: span 3;


}
.fhead{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    background: linear-gradient(90deg,rgb(74, 223, 74) 0%,rgb(140, 231, 140) 40%,rgb(92, 226, 92) 80%);
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: medium;
    
}
.frontright{
    text-align: right;
    padding-right: 20px;
}
#fb {
    color: blue;
}
#gplus{color:red;}

.links{
    display: grid;
    grid-column: span 2;
}
.lastdetails{
    display: grid;
grid-template-columns: repeat(3,1fr);
text-align: center;
padding-top: 55px;
padding-bottom: 55px;
background: linear-gradient(90deg,rgb(74, 223, 74) 0%,rgb(140, 231, 140) 40%,rgb(92, 226, 92) 80%);
color: white;
}
.minil{
    padding-right: 156px;
    font-size: 16px;

    
}
.minir{
    font-size: 15px;
    padding-left: 232px;
}
.mini h5{
    margin-bottom: 5px;
}
.mini h2{
    font-weight: bolder;
    font-size: 48px;
}

.mini p{
    padding-left: 60px;
    padding-right: 60px;
    text-align: justify;
    line-height: 20px;
}


.options {
    display:grid;
    justify-items: left;

}
.close1{
    padding-left: 60px;
    filter: invert(1);
    
}
.overlay{
    height: 100%;
    width: 0%;
    max-width: 30%;
    position: fixed;
    z-index: 1;
    top:0;
    right: 0;
    background-color: rgba(63, 143, 180);
    overflow-x: hidden;
    transition: 1s;

}    
a:hover, .offcanvas a:focus {
    color: #a7babb;
  }
  a img:hover, .offcanvas a:focus {
    color: #a7babb;
  }

.last{ text-align: center;
background-color: #43434f;
color: white;
padding-top: 20px;
padding-bottom: 20px;}

    /* header footer ends here  */

 /* body content starts here  */

 .spot{
    background-image:url(https://kvups.in/images/inner-spotlight-bg.jpg);
    background-size: cover;
    height: 260px;
    color: white;
    display: flex;
    justify-content: center;
    text-align: center;
    background-position: center;

 }
 .spot h1{
   
    text-align: center;
    align-self: center;
    
    font-size: 40px;
 }


 @media screen and (max-width:1000px){
    .greenbox{grid-column: span 2;
        width: 80%;}
        #majorh{grid-column: span 3 ;}
}

@media screen and (max-width: 750px){

    .info img{
        display: none;
       
    }
    
    .info{
        height: 400px;
        margin: 0;
        width: 90%;
    }
    .man{grid-column: span 2;
    
    }
    .welcome{
      display: block;
      margin: 0%;
      height: 300px;
      width: 100%;

    }
    .welcome p {
        /* margin-top: 50px; */
        width: 100%;
        width: 201px;
        height: 300px;
        padding-right: 110px;
        padding-left: 150px;
    }
    .colorbox{
        line-height: 18px;
    }
    .welcome h3{padding-left: 90px;}
    .pink{grid-column: span 2;}
    #kids{display: none;}
    .academy{ width:330px ;}
    .three{grid-column: span 4;}
    .manager{grid-column:  span 2;}
    .bw{grid-column: span 4;}
    .bw{
        box-sizing: border-box;
        border-bottom: 2px solid white;
        border-right: 0;
    }
    
    .shaun{grid-column: span 4;}
    .praji{grid-column: span 2;}
    .sarath{ grid-column: span 2;}
  
        .hyp{grid-column: span 6;}
        .map{grid-column: span 2;}
        .address{grid-column:  span 2;}
    
    .play{grid-column: span 3 ;}

    .links{ grid-column: span 2;}
    .frontright{grid-column: span 1;}
    .pagelinks{ display: none;}
    .ham{display: block;}
   
    .options a { gap: 40px;
        margin: 10px;
    color: beige;}
    .mini{grid-column: span 3;}
    .lastdetails{text-align: center;
    padding: 2px 15px ;}
    .minil{
        padding-right: 2px;
    
    }
    .minir{
       padding-left: 2px;
    }
   
   a:hover, .offcanvas a:focus {
        color: #a7babb;
    }
     #majorh{
        grid-column: span 6;
    }
    .greenbox{
        grid-column: span 2;
        width: 81%;
    }
    .ylink{
        width: 90%;
    }
      
                 
}


/* acadamics and achievements page starts her  */
.sub1{ display: flex;
    background-color: rgb(231, 230, 230);
    max-width: 360px;
    font-size: large;
       }
.sub1 img{
    max-width: 160px;
}
.sub1 h4 {
    margin-top: 20px;
    margin-left: 10px;
    text-align: left;

}
.subcolor{
    color:rgb(34, 133, 34);
    margin-top: 40px;
}
.major p{ max-width: 350px;
    padding-top: 5px;
    line-height: 20px;
    text-align: justify;

  
}
.major{
    margin: 50px;
    grid-column: span 2;
       
}
.majorhead{
    display: grid;
    grid-template-columns: repeat(6,1fr);
}
/* it ends here  */
 /* acadamics starts here  */

 .a{
    width: 10%;
background-color: orange;

}
.greenbox{
    border: 1px solid green;
    display: flex;
   margin: 45px;
   height: 550px;
    

}
.colorbox{
    text-align: center;
    line-height: 20px;
    padding-top: 21px;
    padding-left: 20px;
    padding-right: 20px;
    width: 90%;
}

.act{
    display: grid;
    grid-template-columns: repeat(2,1fr);
   
}
.b{
    
        width: 10%;
    background-color: rgb(50, 168, 207);
    
    }

.c{
    width: 10%;
background-color:#009688;;

}    
.d{
    width: 10%;
    background-color: #00BCD4;
}
.e{  width: 10%;
    background-color: #3F51B5;

}
.f{
    width: 10%;
    background-color: #673AB7;
}
.g{
    width: 10%;
    background-color: #F44336;
}
.h{ 
    width: 10%;
    background-color: #E91E63;
}

.i{
    width: 10%;
    background-color: #9C27B0;
}

/* gallery page starts here  */
.subgall{
    font-weight: 400px;
    font-size: large;
    margin: 15px auto;

    color: #555;
}
#gallcolor{
    color: rgb(107, 216, 107);
}
.toplink1{
    border: 1px solid rgb(27, 124, 27);
    max-width: 350px;
    display: flex;
    margin: 15px auto;
}
.images1{display: grid;
grid-template-columns: repeat(3,1fr);
gap: 20px;
padding: 50px;;

}
.images1 img{
    
    width: 100%;
    margin: 15px auto;

}
.images1 a{
    text-decoration: none;
    font-size:small;
    font-weight: bold;
    text-align: center;
    color: #555;
    font-family: 'american_captainregular';
}
.youtube{
    margin-left: 50px;
}
.ythead{
    text-align: center;
    margin: 20px;
    font-family: 'american_captainregular';

}


.man{
     
    margin: 0 auto;
    text-align: center;
    background-color: #f5f5f5;
    margin: 21px;
    
}
.man img{
    border-radius: 50%;
    background-color: white;
    max-width: 129px;
    margin: 20px;
}
.man h5{
    color: #7eb244;
    padding: 10px;
}
.man h4{
    padding: 10px;
}
.message1{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    
}
.manimg{
    background-color: white;
    border-top: 1px solid green;
    border-right: 1px solid green;
    border-left: 1px solid green ;
}

/* playbutton testing  */
.play{
    background: url(./images/g5.jpg);
    background-size: cover;
    height: 160px;
    margin: 40px;

    
}
.play img{
    width: 88px;
    height: 74px;
    margin: 47px 132px;
   border-radius: 80%;
  
}
.playbutton{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
/* frontpage image autochamging */
.bgimg{ display: flex;
     flex-direction: column;

    font-size: 19px;
justify-content: center;
text-align: center;
height:635px;
color: wheat;}
.bgimg h1{
    padding-bottom: 30px;
    padding-top: 20px;
    font-size: 50px;
    color: white; 
    font-weight: bolder;
     font-family: 'open_sansbold';
}
#pan{color: rgb(47, 160, 47);}
#slideshow{
    position: relative;
    top: 0;
    width: 100%;
    height: 526px;
    background: rgba(0,0, 0, 0.7) url(https://kvups.in/images/spotlight.jpg);
    background-blend-mode: darken;
    animation-name: one;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}
  @keyframes one {
    100% {background: rgba(0,0, 0, 0.6)  url(https://kvups.in/images/spotlight.jpg);
        background-blend-mode: darken;}
    100% {background:  rgba(0,0, 0, 0.4) url(https://kvups.in/images/photo15.jpg);
        
        background-size: cover ;}
        
  }